/*header.css in testrat.php*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background-size: auto;
}

.header0 {
	width:100%;
	height: 30px;
	background-color: black ;
	display:block;
	margin: 0 auto;
	text-align: right;
	
}

.tag01{
	color: rgb(248, 250, 154);
	font-family: "Lucida Console", Courier, monospace;
	font-style: oblique;
	margin-right: 20px;

}

.tag01:hover{
	color:red;
}


.header {
	width:100%;
	height: 80px;
	background-color: #F2FAD1;
	display:block;
	margin: 0 auto;
}

.logo_container{
	height:100%;
	display:table;
	float:left;
}

.logo{
	margin-left: 35px;
	margin-top: -40px;
	height:100%;
	width:30%;
 
}
.search-container {
	float: right;
	margin-top: 25px;
	margin-right: 50px;
}

.search{
	width:450px;
	height:30px;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	text-align: left;
	border: px;
	border-color:black;

}
 

.singin:hover{
	color: rgb(16, 115, 161);
}

.headerNavigation{
	width:100%;
	height: 30px;
	background-color:  black ;
	display:block;
	margin: 0 auto;
	text-align:center;
}

li.nav{

	float:left;

	}

li a {

	display:block;
	color:black;
	text-align:center;
	padding:5px 12px;
	text-decoration:none;
	}

li a:hover{
	background-color:rgb(69, 163, 163);
	color: white;
	}

 

.Fs{
	font-size: 25px;
}

 
.icon3{
	height:7%;
	float:right;
	position: absolute;
	top:52%;
}

.icon4{
	height:7%;
	float:right;
	position: absolute;
	top:66%;
}
