/*body.css in testrat.php*/
body{
	background-color: #F2FAD1 ;
	background-size: auto;
	height: 100%;
	width:100%;
}
form{
	width:600px;
	margin:auto;
	padding:20px;
	background :#59212d;
	font-size:14px;
    font-family:verdana;
	color:white;
}

h4{
	color:white;
	font-size:28px;
}


 .feedback{
    width: 100%;
    max-width: 780px;
    background:#59212d; 
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
.line{
  margin:10px 0;
  border: .5px solid #ddd;
  
}

/* ----------------------------------------------------------------------*/
 span.scale-rating1{
      margin: 5px 0 15px;
     display: inline-block;
      width: 100%;
   
}
span.scale-rating1>label {
    position:relative;
    /*-webkit-appearance: none;*/
    outline:0 ;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor:pointer;
}
span.scale-rating1 label {
      position:relative;
   /* -webkit-appearance: none;*/
    outline:0 ;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor:pointer;
}
span.scale-rating1 input[type=radio] {
     position:absolute;
    /*-webkit-appearance: none;*/
    opacity:0;
    outline:0 ;
    /*border-right: 1px solid grey;*/
    height:px;
    margin: 0 5px 0 0;
    width: 100%;
    float: left;
    cursor:pointer;
    z-index:3;
}
span.scale-rating1 label:hover{
     background:#fddf8d;
}
span.scale-rating1 input[type=radio]:last-child{
     border-right:0;
}
span.scale-rating1 label input[type=radio]:checked ~ label{
    /*-webkit-appearance: none;*/
     margin: 0;
     background:#fddf8d;
}
span.scale-rating1 label:before
{
    content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index:2;
}
 
 /* ----------------------------------------------------------------------*/
 
 
 span.scale-rating2{
     margin: 5px 0 15px;
    display: inline-block;
    width: 100%;
   
}
span.scale-rating2>label {
     position:relative;
    /*-webkit-appearance: none;*/
    outline:0 ;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
   cursor:pointer;
}
span.scale-rating2 label {
    position:relative;
   /* -webkit-appearance: none;*/
    outline:0 ;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor:pointer;
}
span.scale-rating2 input[type=radio] {
     position:absolute;
   /* -webkit-appearance: none;*/
     opacity:0;
     outline:0 ;
    /*border-right: 1px solid grey;*/
    height:33px;
    margin: 20px 10px 20px 10px;
    width: 100%;
    float: left;
    cursor:pointer;
    z-index:3;
}
span.scale-rating2 label:hover{
background:#fddf8d;
}
span.scale-rating2 input[type=radio]:last-child{
border-right:0;
}
span.scale-rating2 label input[type=radio]:checked ~ label{
    /*-webkit-appearance: none;*/
     margin: 0;
     background:#fddf8d;
}
span.scale-rating2 label:before
{
  content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
  z-index:2;
}
 
 
 /*-----------------------------------------------------------------------------------------*/
 
 
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
span.scale-rating{
     margin: 5px 0 15px;
    display: inline-block;
     width: 100%;
   
}
span.scale-rating>label {
     position:relative;
   /* -webkit-appearance: none;*/
     outline:0 
  ;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor:pointer;
}
span.scale-rating label {
     position:relative;
    /*-webkit-appearance: none;*/
    outline:0 ;
    height:33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}
span.scale-rating input[type=radio] {
     position:absolute;
   /* -webkit-appearance: none;*/
     opacity:0;
     outline:0  ;
    /*border-right: 1px solid grey;*/
    height:33px;
    margin: 0 5px 0 0;
    width: 100%;
    float: left;
   cursor:pointer;
    z-index:3;
}
span.scale-rating label:hover{
background:#fddf8d;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{
    /*-webkit-appearance: none;*/

    margin: 0;
  background:#fddf8d;
}
span.scale-rating label:before
{
  content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
  z-index:2;
}