/*footer.css in testrat.php*/
* {
  margin: 0;
  padding: 0;
}

/* Footer */

footer {
  background: #000;
  color: #fcfcfc;
  font-family: "Roboto", sans-serif;
  padding: 36px;
}

footer a {
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-container {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  margin-top: 16px;
  padding-left: 10px;
}

footer ul li {
  margin: 12px 8px;
}

footer .footer-left {
  padding-right: 100px;
  border-right: 1px solid #c4c4c4;
}

footer .footer-right {
  padding-left: 100px;
}

footer .social-icons {
  margin-top: 16px;
}

footer .social-icons a {
  text-decoration: none;
}

footer .social-icons img {
  margin: 0 16px;
}

footer .social-icons img:first-child {
  margin-left: 0;
}

footer .footer-right p {
  margin-top: 32px;
}